html
	head
		link(rel='stylesheet', href='stylesheets/information.css')
	body
		.information-panel
			.information-head 用户详情
			.information-body
				ul
					li
						strong 用户名:
						span #{user.username}
					li
						strong 密码:
						span #{user.id}
					li
						strong 学号:
						span #{user.id}
					li
						strong 电话:
						span #{user.phone}
					li
						strong 邮箱:
						span #{user.email}
